#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/gnome.mk

export MONO_SHARED_DIR=$(CURDIR)

binary-predeb/qyotodevelop::
	dh_clideps

clean::
	rm -rf $(MONO_SHARED_DIR)/.wapi
